main {
  background-color: orange;

  grid-area: main;
  /* display: table; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: blanchedalmond;
  width: 50%;
  height: 80%;
  margin-left: 30%;
  padding: 10px;

  row-gap: 10px;
  grid-column-gap: 10px;

  display: grid;
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'sc sc sc sc'
    'ac del pct div'
    'no7 no8 no9 mul'
    'no4 no5 no6 sb'
    'no1 no2 no3 ad'
    'no0 dt pom eq';
}

.calculator__button-container {
}
