.calculator-screen {
  background-color: #000000;
  text-align: right;
  grid-area: sc;
  height: 100%;
  color: #ffffff;
}

.expr {
  height: 25%;
  padding-right: 2px;
}

.input {
  height: 75%;
  padding-top: 15px;
  font-size: 65px;
  /* overflow-x: auto; */
}

.eightcharfontsize {
  padding-top: 25px;
  font-size: 55px;
}

.tencharfontsize {
  padding-top: 30px;
  font-size: 50px;
}
