.button {
  /* width: 850px; */
  height: auto;
  /* border-radius: 50%; */
}

.button__AC {
  grid-area: ac;
}

.button__⌫ {
  grid-area: del;
}

.button__\% {
  grid-area: pct;
}

.button__\+ {
  grid-area: ad;
}
.button__- {
  grid-area: sb;
}

.button__× {
  grid-area: mul;
}

.button__÷ {
  grid-area: div;
}

.button__\. {
  grid-area: dt;
}

.button__\+\/- {
  grid-area: pom;
}

.button__\= {
  grid-area: eq;
}

.button__0 {
  grid-area: no0;
}

.button__1 {
  grid-area: no1;
}

.button__2 {
  grid-area: no2;
}

.button__3 {
  grid-area: no3;
}

.button__4 {
  grid-area: no4;
}

.button__5 {
  grid-area: no5;
}

.button__6 {
  grid-area: no6;
}

.button__\7 {
  grid-area: no7;
}

.button__8 {
  grid-area: no8;
}

.button__9 {
  grid-area: no9;
}
